.header__container {
  align-items: center;
  background: #151e28;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 15px 30px;
}

.header__container img {
  color: white;
  margin-bottom: 15px;
}


.header__register {
  margin-right: 150px;
  text-decoration: none;
  margin-top: 46px;
}

.header__register p {
  color: white;
}

.header__employee {
  margin-left: 150px;
  text-decoration: none;
  margin-top: 46px;
}

.header__employee p {
  color: white;
}
